body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, #home-icon {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

#about, #skills, #projects, #recommendations {
  padding: 20px;
}

.profile-img {
  max-width: 150px;
  border-radius: 50%;
}

.skills-container {
  display: flex;
  gap: 20px;
}

.skill img {
  width: 50px;
  height: 50px;
  display: block;
}

.skill span {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.project {
  margin: 10px 0;
}

.recommendation {
  margin: 5px 0;
}

#popup {
    display: none; /* Hide it initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.hidden {
  display: none;
}
